---
layout: default
title : Yuhang Gu
navbar_title: Home
---
{% include widgets/profile_card.html %}

{% if site.data.display.homepage.show_experience %}
    {% include widgets/experience_card.html %}
{% endif %}
{% if site.data.display.homepage.show_news %}
    {% assign count_news = site.news | size %}
    {% if count_news > 0 %}
        {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
    {% endif %}
{% endif %}

{% if site.data.display.homepage.show_selected_publications %}
    {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
    {%
        include widgets/publication_card.html
        publications=pubs
        title='<i class="fas fa-book-open"></i> Selected Research'
    %}
{% endif %}

{% if site.data.display.homepage.show_selected_talks %}
    {% assign selected_talks = site.talks | sort: "date" | reverse | where: "selected", true %}
    {% if selected_talks.size > 0 %}
        {% include widgets/talk_card.html talks=selected_talks %}
    {% endif %}
{% endif %}

{% assign selected_projects = site.projects | sort: "date" | reverse | where: "selected", true %}
{% if selected_projects.size > 0 %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        <i class="fas fa-code"></i> Selected Projects
        <a href="{{ 'projects' | relative_url }}">(view all <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    {% for item in selected_projects %}
        {% assign is_last = forloop.last %}
        {% include widgets/project_item.html item=item hide_bottom_border=is_last %}
    {% endfor %}
    <h6 class="d-block p-3 mt-0 text-right">
        <a href="{{ 'projects' | relative_url }}">All projects <i class="fas fa-angle-double-right"></i></a>
    </h6>
</div>
{% endif %}

{% if site.data.display.homepage.show_selected_competitions %}

    {% assign selected_competitions = site.competitions
       | sort: "date"
       | reverse
       | where: "selected", true %}

    {% if selected_competitions.size > 0 %}

    <div class="my-3 p-0 bg-white shadow-sm rounded-sm">

        <h6 class="border-bottom border-gray p-3 mb-0">
            <i class="fas fa-trophy"></i>
            Selected Academic Competitions

            <a href="{{ 'competitions' | relative_url }}">
                (view all <i class="fas fa-angle-double-right"></i>)
            </a>
        </h6>

        {% for item in selected_competitions limit: 3 %}

            {% assign is_last = forloop.last %}

            {% include widgets/competition_item.html
                item=item
                hide_bottom_border=is_last
            %}

        {% endfor %}

        <h6 class="d-block p-3 mt-0 text-right">
            <a href="{{ 'competitions' | relative_url }}">
                All competitions
                <i class="fas fa-angle-double-right"></i>
            </a>
        </h6>

    </div>

    {% endif %}

{% endif %}
